{% extends "base.html.twig" %}
{% block title %}Konto{% endblock %}
{% block home %}
    <div class="account">
    {{form_start(form)}}

        <label>Email</label>
        <input type="text" value="{{user.email}}" readonly>
        <div class="line"></div>
        {{form_widget(form)}}
        <div class="line"></div>
        <button type="submit" class="create-button">Zmień</button>

    {{form_end(form)}}
    </div>
{% endblock %}